body{
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-clip: cover;

}
header{
    width:100%;
    nav{
        .icon-image{margin-right: 1rem;}
        .nav-link{padding-right: 2.5rem !important;}
    }
}
.content{
    height: 80vh;
   .content-inside{
       padding: 10% 0;
   }
   .phone-svg{
       svg{
           width:100%;
        
       }
   }
   .content-text{
       h1{
           color:white;
           margin-bottom: 3.5rem;
       }
       p{
           color:#DBC7F6;
           margin-bottom: 3.5rem;
       }
       .btn{
           background-color: #8325F7;
           padding:1rem 2rem;
           color: white;
           border-radius: 7px;
           transition: transform 0.2s ease-in ;

       }
       .btn:hover{
           transform: translateY(-10%);
           box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
       }
   
   }
}
